body{
    background-image: url("../assets/img/bgmachine.png");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.flip {
    animation: spin 1s
    cubic-bezier(0.4, 2.5, 0.6, 0.5);
}

a button{
    background-color: purple;
    /* border-style: outset; */
    padding: 20px;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    position: absolute;
    top: 15px;
    left: 20px;
    transition: transform .2s ease-in-out;
}

a button:hover{
    transform: scale(1.03);
    background-color: rgb(99, 0, 99);
}