*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body{
    background-image: url("../assets/img/bgmachine.png");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 10px;
}

.title{
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

#title-impiccato {
    animation: fadeIn 2s;
}

.lettere-alfabeto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    gap: 5px;
    flex-wrap: wrap;
    animation: fadeIn 4s;
    /* animation-delay: 3s; */
}

.lettera-alfabeto {
    font-size: 20px;
    height: 40px;
    width: 40px;
    background-color: purple;
    color: white;
    border-radius: 2px;
}

.lettera-alfabeto:disabled {
    background-color: grey;
}

.lettera{
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hidden-lettera{
    border-bottom: 2px solid white;
    height: 30px;
    width: 30px;
    font-size: 0px;
    animation: fadeIn 6s;
    /* animation-delay: 6s; */
}

.lettera-non-indovinata{
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: red;
}


#parola-nascosta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#errori {
    color: red;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 400px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: white;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 3s;
}

.end .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.end .btn button, .end .btn a {
    background-color: transparent;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.end .punteggio {
    font-size: 15px;
    color: white;
}

.end .btn button:hover, .end .btn a:hover {
    text-decoration: underline;
}

#you-lose {
    background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url(../assets/images/hangman-gameover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}

#you-win {
    background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url(../assets/images/hangman-win.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}